<!DOCTYPE html>
<html>
<head>
  <title>AlchemyNodes</title>
  <%= stylesheet_link_tag    "alchemy_nodes/application", :media => "all" %>
  <%= javascript_include_tag "alchemy_nodes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
